<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etjava.mapper.MiaoShaGoodsMapper">

    <resultMap type="com.etjava.entity.Goods" id="MiaoShaGoodsResult">
    </resultMap>

	<select id="listAll" parameterType="Map" resultMap="MiaoShaGoodsResult">
        select * from t_miaosha_goods
    </select>

</mapper>